.student-table {
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .table-first-name,
  .table-last-name,
  .table-departments {
    display: none;
  }

  .table-button {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      display: flex;
    }
  }
}
