.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  
  .user-input {
    margin-bottom: 2rem;
  }
  
  .form-button-container {
    display: flex;
    justify-content: center;
  }
  
  .form-button {
    width: 50%;
  }
  